# Drive
export GOOGLE_WORKSPACE_DRIVE_PROXY_URL=https://script.google.com/macros/s/.../exec
export GOOGLE_WORKSPACE_DRIVE_PROXY_TOKEN=

# Gmail
export GOOGLE_WORKSPACE_GMAIL_PROXY_URL=https://script.google.com/macros/s/.../exec
export GOOGLE_WORKSPACE_GMAIL_PROXY_TOKEN=

# Calendar
export GOOGLE_WORKSPACE_CALENDAR_PROXY_URL=https://script.google.com/macros/s/.../exec
export GOOGLE_WORKSPACE_CALENDAR_PROXY_TOKEN=

# Sheets
export GOOGLE_WORKSPACE_SHEETS_PROXY_URL=https://script.google.com/macros/s/.../exec
export GOOGLE_WORKSPACE_SHEETS_PROXY_TOKEN=

# Slides
export GOOGLE_WORKSPACE_SLIDES_PROXY_URL=https://script.google.com/macros/s/.../exec
export GOOGLE_WORKSPACE_SLIDES_PROXY_TOKEN=

# Docs
export GOOGLE_WORKSPACE_DOCS_PROXY_URL=https://script.google.com/macros/s/.../exec
export GOOGLE_WORKSPACE_DOCS_PROXY_TOKEN=
