# Drive
GOOGLE_WORKSPACE_DRIVE_PROXY_URL=https://script.google.com/macros/s/.../exec
GOOGLE_WORKSPACE_DRIVE_PROXY_TOKEN=

# Gmail
GOOGLE_WORKSPACE_GMAIL_PROXY_URL=https://script.google.com/macros/s/.../exec
GOOGLE_WORKSPACE_GMAIL_PROXY_TOKEN=

# Calendar
GOOGLE_WORKSPACE_CALENDAR_PROXY_URL=https://script.google.com/macros/s/.../exec
GOOGLE_WORKSPACE_CALENDAR_PROXY_TOKEN=

# Sheets (future)
# GOOGLE_WORKSPACE_SHEETS_PROXY_URL=
# GOOGLE_WORKSPACE_SHEETS_PROXY_TOKEN=

# Sheets
GOOGLE_WORKSPACE_SHEETS_PROXY_URL=https://script.google.com/macros/s/.../exec
GOOGLE_WORKSPACE_SHEETS_PROXY_TOKEN=
